@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'alien';
  src: local("./space.tff");
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: "black";
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9D00FF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.main {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;

  width: 100%;
  height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.typewriter {
  text-align: center;
  margin-left: 1.8%;
}

.ai {
  margin: 2%;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color : "";
}

.astronomy {
  margin-top : 15%;
  margin-left: 2%;
  margin-right : 2%;
  margin-left : 2%;
  text-align: center;
}

.astronomy-logo {
  border : none;
  border-radius: 50%;
  width : 200px;
  height : 300px; 
}

.description {
  margin : 3%;
  font-family: 'Alegreya Sans', sans-serif;
  font-size : x-large;
}

.logo {
  border : none;
  width: 150px;
  border-radius: 50%;
}

.lottie {
  border : none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  /* background-color: #000000cc; */
}

.footer {
  background: #49515C  no-repeat 100% 0;
  border-bottom: 5px solid #fff;
  border-top: 10px solid #fff;
  text-align: center;  
  color: #fff;
  font-size: 0.8em;
  padding: 10px;
  line-height: 16px;
  clear: both;
  }